.card-coach {
  overflow: hidden;
  height: 120px;
  width: 800px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-coach img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-coach h2 {
  font-size: 20px;
  font-weight: bold;
  color: #641E16;
  margin: 0;
}

.card-coach p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-coach .card-product {
  padding: 16px;
}